/* Add these to Spirit */
/* -------------------------------------------------------------- */

/* Colors: https://palx.jxnblk.com/3EB0EF */

:root {
    /* Base colors */
    --cyan: #38d8c0;
    --v3-green: #50d838;
    --v3-red: #d73850;
}


.tracked-4 {
    letter-spacing: 0.12rem;
}

.fw4 {
    font-weight: 400;
}

.fw5 {
    font-weight: 500;
}


/* Buttons */
/* -------------------------------------------------------------- */

.v3-btn {
    display: inline-block;
    outline: none;
    border: 1px solid color-mod(var(--lightgrey) l(-5%) s(-10%));
    color: var(--middarkgrey);
    text-decoration: none !important;
    user-select: none;
    fill: color-mod(var(--lightgrey) l(-27%) blackness(+15%));
    border-radius: 4px;
    transition: all 0.2s ease;
    transition-property: color, border-color, background, width, height;
    background: linear-gradient(var(--white), color-mod(var(--lightgrey) l(+1%) s(-7%)));

    -webkit-font-smoothing: subpixel-antialiased;
}

.v3-btn span {
    display: block;
    overflow: hidden;
    padding: 0 12px;
    height: 35px;
    font-size: 1.3rem;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2px;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.v3-btn:hover {
    border-color: color-mod(var(--lightgrey) l(-15%) s(-10%));
}

/* When disabled */
.v3-btn.disabled,
.v3-btn[disabled],
fieldset[disabled] .v3-btn {
    box-shadow: none;
    opacity: 0.8;
    cursor: not-allowed;
    pointer-events: none;
}

.v3-btn svg {
    display: inline-block;
}

/* Button highlights
/* ---------------------------------------------------------- */

.v3-btn-hover-blue:hover {
    border-color: var(--blue);
    color: var(--blue);
}

.v3-btn-hover-green:hover {
    border-color: var(--v3-green);
    color: var(--v3-green);
}

.v3-btn-hover-red:hover {
    border-color: var(--v3-red);
    color: var(--v3-red);
}


/* Grey button - First so that other colors will override
/* ---------------------------------------------------------- */

/* Instead we should have an outline/ghost button if there's a use case for it */

/* TO BE DONE */



/* Blue button
/* ---------------------------------------------------------- */

/* The background of the button creates 1px gradient border */
.v3-btn-blue {
    padding: 1px;
    color: #fff;
    background: linear-gradient(
    color-mod(var(--blue) l(+10%)),
    color-mod(var(--blue) l(-9%) saturation(-9%))
    );
    fill: #fff;
    border: none;
    transition: none !important;
}

/* The background of the span is the main visual element */
.v3-btn-blue span {
    background: none;
}

/* When clicked or focused with keyboard */
.v3-btn-blue:active,
.v3-btn-blue:focus {
    background: color-mod(var(--blue) l(-20%) saturation(-15%));
}
.v3-btn-blue:active span,
.v3-btn-blue:focus span {
    background: color-mod(var(--blue) l(-7%) saturation(-10%));
    box-shadow: none;
}


/* Cyan button
/* ---------------------------------------------------------- */

.v3-btn-cyan {
    padding: 1px;
    color: #fff;
    background: linear-gradient(
    color-mod(var(--cyan) l(+10%) ),
    color-mod(var(--cyan) l(-9%) s(+2%))
    );
    fill: #fff;
    border: none;
    transition: none !important;
}

.v3-btn-cyan span {
    background: none;
}

/* When clicked or focused with keyboard */
.v3-btn-cyan:active,
.v3-btn-cyan:focus {
    background: color-mod(var(--cyan) l(-20%) saturation(-15%));
}
.v3-btn-cyan:active span,
.v3-btn-cyan:focus span {
    background: color-mod(var(--cyan) l(-7%) saturation(-10%));
    box-shadow: none;
}


/* Green button
/* ---------------------------------------------------------- */

/* The background of the button creates 1px gradient border */
.v3-btn-green {
    padding: 1px;
    color: #fff;
    background: linear-gradient(
    color-mod(var(--v3-green) l(+10%)),
    color-mod(var(--v3-green) l(-9%) saturation(-9%))
    );
    fill: #fff;
    border: none;
    transition: none !important;
}

/* The background of the span is the main visual element */
.v3-btn-green span {
    background: none;
}

/* When clicked or focused with keyboard */
.v3-btn-green:active,
.v3-btn-green:focus {
    background: color-mod(var(--v3-green) l(-9%) saturation(-9%));
}
.v3-btn-green:active span,
.v3-btn-green:focus span {
    background: color-mod(var(--v3-green) l(-3%) saturation(-7%));
    box-shadow: none;
}


/* Red button
/* ---------------------------------------------------------- */

/* The background of the button creates 1px gradient border */
.v3-btn-red {
    padding: 1px;
    color: #fff;
    background: linear-gradient(
    color-mod(var(--v3-red) l(+10%)),
    color-mod(var(--v3-red) l(-9%) saturation(-9%))
    );
    fill: #fff;
    border: none;
    transition: none !important;
}

/* The background of the span is the main visual element */
.v3-btn-red span {
    background: none;
}

/* When clicked or focused with keyboard */
.v3-btn-red:active,
.v3-btn-red:focus {
    background: color-mod(var(--v3-red) l(-20%) saturation(-15%));
}
.v3-btn-red:active span,
.v3-btn-red:focus span {
    background: color-mod(var(--v3-red) l(-7%) saturation(-10%));
    box-shadow: none;
}

/* Black button
/* ---------------------------------------------------------- */

/* The background of the button creates 1px gradient border */
.v3-btn-black {
    padding: 1px;
    color: #fff;
    background: linear-gradient(
    color-mod(var(--darkgrey) l(+10%)),
    color-mod(var(--darkgrey) l(-9%) saturation(-9%))
    );
    fill: #fff;
    border: none;
    transition: none !important;
}

/* The background of the span is the main visual element */
.v3-btn-black span {
    background: none;
}

/* When clicked or focused with keyboard */
.v3-btn-black:active,
.v3-btn-black:focus {
    background: color-mod(var(--darkgrey) l(-20%) saturation(-15%));
}
.v3-btn-black:active span,
.v3-btn-black:focus span {
    background: color-mod(var(--darkgrey) l(-7%) saturation(-10%));
    box-shadow: none;
}


/* Special Buttons
/* ---------------------------------------------------------- */

.v3-btn-white {
    background: #fff;
}

.v3-btn-white span {
    height: 38px;
}

.v3-btn-block {
    display: block;
    width: 100%;
}

.v3-btn-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.v3-btn-icon svg,
.v3-btn-block svg {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    fill: #fff;
}

.v3-btn-icon svg.gh-spinner {
    left: 5px;
}

.v3-btn-icon svg.gh-spinner rect {
    fill: color-mod(var(--midgrey) l(+15%));
}

.v3-btn-icon-right svg,
svg.v3-btn-icon-right {
    margin-left: 0.5em;
    margin-right: 0;
}

.v3-btn-icon svg path {
    stroke: #fff;
}

.v3-btn-icon-no-margin {
    margin: 0;
}


/*
/* Button Variations
/* ---------------------------------------------------------- */

.v3-btn-block {
    display: block;
    width: 100%;
}

/* Vertically space out multiple block buttons */
.v3-btn-block + .v3-btn-block {
    margin-top: 5px;
}

/* Specificity overrides */
input[type="submit"].v3-btn-block,
input[type="reset"].v3-btn-block,
input[type="button"].v3-btn-block {
    width: 100%;
}


/*
/* Button Groups
/* ---------------------------------------------------------- */
/*

Usage: CTA buttons grouped together horizontally.

<div class="v3-btn-group">
    <a class="v3-btn v3-btn-green" href="#"><span>Button 1</span></a>
    <a class="v3-btn v3-btn-white" href="#"><span>Button 2</span></a>
</div>

*/

.v3-btn-group .v3-btn {
    margin-left: 15px;
}

.v3-btn-group .v3-btn:first-of-type {
    margin-left: 0;
}

.v3-btn-block + .v3-btn-block {
    margin-top: 5px;
}

.v3-btn-link {
    border: none;
}


/* Spin Buttons!
/* ---------------------------------------------------------- */
.spinner {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: -2px 0;
    width: 14px;
    height: 14px;
    border: rgba(0,0,0,0.2) solid 4px;
    border-radius: 100px;
    animation: spin 1s linear infinite;
}

.spinner:before {
    content: "";
    display: block;
    margin-top: 6px;
    width: 4px;
    height: 4px;
    background: rgba(0,0,0,0.6);
    border-radius: 100px;
}


/* Inputs */
/* -------------------------------------------------------------- */

.v3-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid color-mod(var(--midlightgrey) l(+10%) s(-2%));
    color: color-mod(var(--midgrey) l(-18%));
    font-size: 1.6rem;
    line-height: 1em;
    font-weight: 300;
    user-select: text;
    border-radius: 5px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.v3-input:focus,
.v3-input.focus,
.v3-select:focus,
select:focus {
    outline: 0;
    border: 2px solid color-mod(var(--blue) l(+5%) s(+10%));
    padding: 10px 11px;
}



/* Styles just for the demo (can be deleted) */
/* -------------------------------------------------------------- */

.top-bar-background {
    background: #F8FAFC;
}

.v3-canvas {
    flex-grow: 1;
    margin: 0 auto;
    padding: 4vw 6vw;
    max-width: 1200px;
}

.section-divider {
    margin: 70px 0;
    border-top: none;
}

.settings-input {
    width: 75%;
}